RS500gaWCFService/Test/RS500gaWCFServiceTest/RS500gaWCFServiceTest/Service References/LoadPlaylistDataService/LoadPlaylistDataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sendLibrary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlcontent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="libraryTitle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendLibraryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendLibraryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSongLyrics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="song" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="artist" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSongLyricsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSongLyricsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendPlaylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlcontent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playlistTitle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendPlaylistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendPlaylistResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generatePlaylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlcontent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generatePlaylistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="generatePlaylistResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSimilarArtistsLF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="limit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="artist" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="doAutocorrect" type="xs:boolean" />
        <xs:element minOccurs="0" name="mbid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSimilarArtistsLFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSimilarArtistsLFResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSimilarTracksLF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="track" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="artistName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mbid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="doAutocorrect" type="xs:boolean" />
        <xs:element minOccurs="0" name="limit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSimilarTracksLFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSimilarTracksLFResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPlaylistLF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPlaylistLFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createPlaylistLFResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAllRs500GaAlbumsInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAllRs500GaAlbumsInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateAllRs500GaAlbumsInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAllRs500GaTracksInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAllRs500GaTracksInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateAllRs500GaTracksInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAllRs500GaTrackSimilars">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAllRs500GaTrackSimilarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateAllRs500GaTrackSimilarsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAllRs500GaArtistSimilars">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAllRs500GaArtistSimilarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateAllRs500GaArtistSimilarsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAllRs500GaTracksGraphConnections">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAllRs500GaTracksGraphConnectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateAllRs500GaTracksGraphConnectionsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAllRs500GaArtistsGraphConnections">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAllRs500GaArtistsGraphConnectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateAllRs500GaArtistsGraphConnectionsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>