RS500gaWCFService/Test/RS500gaWCFServiceTest/RS500gaWCFServiceTest/Service References/LoadPlaylistDataService/LoadPlaylistDataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sendLibrary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlcontent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="libraryTitle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendLibraryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendLibraryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSongLyrics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="song" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="artist" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSongLyricsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSongLyricsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendPlaylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlcontent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playlistTitle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendPlaylistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendPlaylistResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generatePlaylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlcontent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generatePlaylistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="generatePlaylistResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>