RS500gaWCFService/xml/album_get_info1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="lfm">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="artist">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="mbid"/>
              <xs:element type="xs:anyURI" name="url"/>
              <xs:element name="image">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:anyURI">
                      <xs:attribute type="xs:string" name="size" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="streamable"/>
              <xs:element type="xs:byte" name="ontour"/>
              <xs:element name="stats">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="listeners"/>
                    <xs:element type="xs:int" name="playcount"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="similar">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="artist" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="xs:anyURI" name="url"/>
                          <xs:element name="image" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:anyURI">
                                  <xs:attribute type="xs:string" name="size" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="tags">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tag" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="xs:anyURI" name="url"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="bio">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="links">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="link">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="rel"/>
                                  <xs:attribute type="xs:anyURI" name="href"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="published"/>
                    <xs:element type="xs:string" name="summary"/>
                    <xs:element type="xs:string" name="content"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="status"/>
    </xs:complexType>
  </xs:element>
</xs:schema>