RS500gaWCFService/xml/auth_get_session.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="lfm">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="session" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="key"/>
              <xs:element type="xs:byte" name="subscriber"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
		<xs:element name="error" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:byte" name="code"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="status"/>
    </xs:complexType>
  </xs:element>
</xs:schema>