RS500gaWCFService/xml/track_get_similar.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="lfm">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="similartracks" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="track" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:int" name="playcount"/>
                    <xs:element type="xs:string" name="mbid"/>
                    <xs:element type="xs:float" name="match"/>
                    <xs:element type="xs:anyURI" name="url"/>
                    <xs:element name="streamable">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:byte">
                            <xs:attribute type="xs:byte" name="fulltrack" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:int" name="duration"/>
                    <xs:element name="artist">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="xs:string" name="mbid"/>
                          <xs:element type="xs:anyURI" name="url"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="image" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:anyURI">
                            <xs:attribute type="xs:string" name="size" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="track"/>
            <xs:attribute type="xs:string" name="artist"/>
          </xs:complexType>
        </xs:element>
		<xs:element name="error" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:byte" name="code"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
	  </xs:sequence>
      <xs:attribute type="xs:string" name="status"/>
    </xs:complexType>
  </xs:element>
</xs:schema>