RS500gaWCFService/xml/track_get_info.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="lfm">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="track" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="mbid"/>
              <xs:element type="xs:anyURI" name="url"/>
              <xs:element type="xs:int" name="duration"/>
              <xs:element name="streamable">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:byte">
                      <xs:attribute type="xs:byte" name="fulltrack"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:int" name="listeners"/>
              <xs:element type="xs:int" name="playcount"/>
              <xs:element name="artist">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="mbid"/>
                    <xs:element type="xs:anyURI" name="url"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="album">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="artist"/>
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:string" name="mbid"/>
                    <xs:element type="xs:anyURI" name="url"/>
                    <xs:element name="image" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:anyURI">
                            <xs:attribute type="xs:string" name="size" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="position"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="toptags">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tag" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="xs:anyURI" name="url"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="wiki">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="published"/>
                    <xs:element type="xs:string" name="summary"/>
                    <xs:element type="xs:string" name="content"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="error" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:byte" name="code"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
	  </xs:sequence>
      <xs:attribute type="xs:string" name="status"/>
    </xs:complexType>
  </xs:element>
</xs:schema>